#main
{
	font-family: Tahoma;
	position: relative;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px; 0 20px;
	border: 1px dashed black;
}

.title 
{
	cursor:pointer;
	text-align: center;
	font: 28pt bold;
	color: #003399;
}

.subtitle 
{
	cursor:pointer;
}

.content 
{
	display:none;
	text-align: center;
}

.question
{
	cursor:pointer;
	font-weight: bold;
	color: #4990a6;
	padding-bottom: 10px;
	text-align: justify;
}

.answer
{
	display:none;
	margin-left:20px;
	padding-bottom: 20px;
	color: #406470;
	text-align: justify;
}

.my 
{
	color: red;
}

.code
{
	display:none;
}
